1:
<div class="panel">
  <div>
    <input [(ngModel)]="name" placeholder="Модель" />
    <button (click)="addItem(name)">Добавить</button>
  </div>
  <table>
    <tr *ngFor="let item of items">
      <td>{{ item }}</td>
    </tr>
  </table>
</div>
<pre [innerHTML]="data.count"></pre>

2:
<div class="panel">
  <div>
    <input [(ngModel)]="name2" placeholder="Модель" />
    <button (click)="addItem2(name)">Добавить</button>
  </div>
  <table>
    <tr *ngFor="let item of items2">
      <td>{{ item }}</td>
    </tr>
  </table>
</div>

<pre [innerHTML]="data2.count"></pre>